.main_div {
    margin-left: 25px;
}

input {
    width: 180px;
    margin-left: 10px;
    float: left;
    border-radius: 4px;
    padding: 4px;
}

input:focus {
    outline: none;
}

button {
    background-color: rgb(202,156,24);
    border: none;
    width: 90px;
    height: 35px;
    margin-left: 10px;
    border-radius: 4px;
    font-weight: bolder;
    color: white;
}

button:hover {
    background-color: rgb(248, 184, 8) ;
    transition: 0.3s ease-in;
}

button:focus {
    outline: none;
}